server:
  port: 9991
spring:
  datasource:
    name: data-source
    url: jdbc:mysql://127.0.0.1:3306/limsys?serverTimezone=GMT%2B8&characterEncoding=utf-8
    username: root
    password: wzz1997
    # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    # 下面为连接池的补充设置，应用到上面所有数据源中
    druid:
      # 初始化大小，最小，最大
      initialSize: 5
      minIdle: 5
      maxActive: 20
      # 配置获取连接等待超时的时间
      maxWait: 60000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      timeBetweenEvictionRunsMillis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      minEvictableIdleTimeMillis: 300000
      validationQuery: SELECT 1 FROM DUAL
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      # 打开PSCache，并且指定每个连接上PSCache的大小
      poolPreparedStatements: true
      maxPoolPreparedStatementPerConnectionSize: 20
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.wzz.zuolibackend.dao
  configuration:
    map-underscore-to-camel-case: true #下划线转驼峰
mapper:
  identity: MYSQL
  not-empty: true
  style: normal
security:
  basic:
    enabled: false
management:
  security:
    enabled: false